#splash {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16vmin;
}

#splash h1 {
  font-family: 'Movement', sans-serif;
  font-variation-settings: 'wght' 700, 'SPAC' 100;
  margin: 1.8rem 0 .8rem;
}

.splash-img > img {
  --max-size: 250;
  --min-size: 150;
  width: var(--responsive);
}

.splash-brief h2 {
  font-weight: 300;
  color: #455261;
}

.scroll-btn.splash {
  color: #59bbb2;
}

@media screen and (max-height: 700px) {
  #splash {
    height: 700px;
  }
}