#projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #59bbb2;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 15rem;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 420px) {
  #projects {
    padding-top: 4rem;
  }
}