@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700&display=swap');

@font-face {
  font-family: 'Movement';
  src: url('../fonts/MovementV.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-RegularItalic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
  --diff-height: calc(var(--max-height) - var(--min-height));
  --responsive-height: calc((var(--min-height) * 1px) + var(--diff-height) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

body {
  margin: 0;
  font-family: 'Josefin Sans', 'sans-serif';
  color: #455261;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  --max-size: 62;
  --min-size: 33;
  font-size: var(--responsive);
}

h2 {
  --max-size: 32;
  --min-size: 26;
  font-size: var(--responsive);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  --max-size: 26;
  --min-size: 18;
  font-size: var(--responsive);
  --max-height: 42;
  --min-height: 28;
  line-height: var(--responsive-height);
}

/*---------------Structural------------------*/

.row {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  --max-size: 55;
  --min-size: 26;
  padding: var(--responsive);
}