@font-face {
  font-family: 'Movement';
  src: url('../fonts/MovementV.ttf');
}

* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

body {
  margin: 0;
}

h1 {
  --max-size: 50;
  --min-size: 25;
  font-size: var(--responsive);
}

a {
  text-decoration: none;
  color: inherit;
}